<!DOCTYPE html>
<html>
 <head>
  <meta charset='utf-8'>
  <title>Mad Libs Exercise Story</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
   <h1>Here is your fantatic story!</h1>   
   <p>Dear @Model.Noun, your child is @Model.Verb in a very @Model.Adjective cave.</p>
  </div>
</body>
</html>

@* @ symbols will pretend any code written with Razor. Razor is a markup syntax that lets you embed server-based code into web pages using C# and VB.Net  *@